body {
  background-color: #2F3337;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#clapButton{
    color: white;
    position: fixed;
    height: 100px;
    left: 50%; /* Starting at 50% */
    margin-left: -150px; /* 50% of the width of the button */
    top:50%; /* Starting at 50% */
    margin-top: -50px; /* 50% of the height of the button */
    font-size: 4em;
    background-color:#517C9F;
    border-color:#517C9F;
    border-radius: 20px;
    width: 300px;
    border-width: 0;
}

#timeDisplay{
    color: white;
    display: none;
    position: fixed;
    width: 300px;
    height: 100px;
    background-color: #517C9F;
    left: 50%; /* Starting at 50% */
    margin-left: -156px; /* 50% of the width of the button */
    top:50%; /* Starting at 50% */
    margin-top: -50px; /* 50% of the height of the button */
    font-size: 4em;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
    line-height: 1.5;
    border-width: 0;
}
#teams{
    position: fixed;
    background-color: #517C9F;
    left: 50%; /* Starting at 50% */
    margin-left: -156px; /* 50% of the width of the button */
    top:50%; /* Starting at 50% */
    margin-top: -50px; /* 50% of the height of the button */
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
    line-height: 1.5;
    padding: 0 20px 10px 20px;
}

h1 {
    color: white;
}
#teams button{
    background-color: #DE752C;
    border-radius: 6px;
    border-width: 0;
    font-size: 1.0em;
    color: white
}
#team{
    border-radius: 4px;
    border: 0px;
    font-size: 1.2em;
}
